<!DOCTYPE html>
<html>
<head>
  <title>Codereview10</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <% content_for(:navbar) do %>
    <h4 class="navbar">
      <a href="/">Home</a> |
      <%= link_to "Products", products_path %>
    </h4>
  <% end %>

  <div class="container">
    <h1 class="splash_text">Product Town</h1>
    <%= yield :navbar %>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </div>

</body>
</html>
